@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dice_image img {
  width: 649px;
  height: 500px;
  position: relative;
  top: 50px;
}

.dice_game {
  max-width: 528px;
  height: 144px;
}

.dice_game h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

.play_now-btn {
  display: flex;
  align-items: center;
  float: inline-end;
  position: relative;
  bottom: 70px;
}

.play_now-btn button {
  width: 220px;
  border-radius: 5px;
  padding: 10px 18px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* gamepage container */
.gamepage_container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.select_nums {
  position: relative;
  top: 60px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.select_nums p {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: end;
}

.sqaure-only {
  display: flex;
  gap: 10px;
}

.score h1 {
  font-weight: 500;
  font-size: 100px;
}

.score p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  bottom: 95px;
}

.square {
  width: 72px;
  height: 72px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.selected_sqare {
  background-color: black;
  color: white;
}

.dices {
  text-align: center;
  position: relative;
  bottom: 70px;
}
.dices p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns .show_rule-btn {
  width: 220px;
  border-radius: 5px;
  padding-top: 10px;
  background-color: black;
  color: white;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.btns .reset_score {
  width: 220px;
  /* gap: 10px; */
  border-radius: 5px;
  margin-bottom: 12px;
  padding-top: 10px;
  background-color: white;
  color: black;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.btns .reset_score:hover {
  background-color: black;
  color: white;
  transition: 0.3s background ease-in;
  border: 1px solid black;
}
.btns .show_rule-btn:hover {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  transition: 0.3s background ease-in;
  border: 1px solid black;
}

.btns button {
  cursor: pointer;
}

.show_rule {
  width: 794px;
  height: 208px;
  margin: 5px auto;
  top: 776px;
  background-color: #fbf1f1;
  left: 338px;
  padding: 20px;
  font-family: Poppins;
  text-align: start;
  margin-top: 20px;
}

.show_rule h2 {
  font-weight: 700;
  font-size: 24px;
}

.show_rule p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
